
html, body {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  overflow: hidden;
}

.debug-container,
.debug-img {
  box-sizing: border-box;
  position: fixed;
  pointer-events: none;
}
.debug--enabled .debug-container {
  z-index: 1;
  border: 1px #f00 dashed;
}
.debug--enabled .debug-img {
  z-index: 2;
  border: 1px #00f dashed;
}

.dg.ac {
  z-index: 10 !important;
  user-select: none;
}


.container {
  position:  relative;
  overflow: hidden;
}
.container img {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  display: block;

  width: auto; height: auto;
  min-width: 100%;
  max-width: 100%;
  max-height: none; max-width: none;
}

